<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>PathSF-Example</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%-5level %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<jmxConfigurator />
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

<!-- 	<logger name="com.pathsf.example" level="ALL" /> -->
	<logger name="org.springframework.http" level="DEBUG" />
	<logger name="org.codehaus.jackson" level="DEBUG" />
	
</configuration>
