<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create a New Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-wysihtml5.css}" />
    <link href="../../../resources/css/bootstrap3-wysiwyg5-color.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap3-wysiwyg5-color.css}" />

    <script src="../../../resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script> 
    <script src="../../../resources/js/wysihtml5-0.3.0.js" th:src="@{/resources/js/wysihtml5-0.3.0.js}" type="text/javascript"></script>
    <script src="../../../resources/js/bootstrap3-wysihtml5.js" type="text/javascript" th:src="@{/resources/js/bootstrap3-wysihtml5.js}"></script>

<script>
    	$(document).ready(function(){

    			$.ajax({
        			url : "/blog/post/all",
	            	//data : $("#createPost").serialize(),
	            	type : "GET",
	            	dataType : "json",
	            	success : function(json) {
	            			var ul = $("#listgroup");
	            			
	            			$("#tools").hide();
       						$("#messageDiv").addClass("alert alert-dismissable alert-success");
	            			$("#resultMessage").text("You have " + json.length + " posts, select one to see details.");
	            			
	       					$.each(json, function(idx, elem){
	       						
	       						if (elem.title != ""){
	       							ul.append('<a href="#" class="list-group-item">' + elem.title + ' <span class="badge">' + elem.id + '</span>' + '</a>');
	       						}
	       					});
	            	 	},
	            	error : function( xhr, status ) {
	            	        alert("there was a problem!" );
	            	    }
    			});
    			
    			$('#listgroup').on('click', '.list-group-item', function() {
    			    var text = $(this).text();
    			    alert(text);
    			    var id = text[text.length - 1];
    			    $("#postId").val(id);
    			    $.ajax({
    			    	url : "/blog/post/details/" + id,
    			    	type : "GET",
    			    	dataType : "json",
    			    	contenType : "application/json",
    			    	success : function(json){
    			    		$("#listgroup").hide();
    			    		$("#tools").show();
    			    		$("#messageDiv").addClass("alert alert-dismissable alert-success");
	            			$("#resultMessage").text("Selected post id " + id);
	            			$("#postDetails").addClass("jumbotron");
	            			$("#title").text(json['title']);
	            			var published = json['published'];
	            			if (published){
	            				$("#publishButton").attr('disabled', true);
	            			}
	            			var content = json['content'];
	            			if (content != null){
	            				if (content.indexOf("img") != -1){
	            					content = content.substring(0, content.indexOf("img") + 3) + 
              					  ' style = "max-width: 100%;" ' + 
              					  content.substring(content.indexOf("img") + 3, content.length);	
	            				}
	            			}			
	            			$("#content").html(content);
	            			$("#closeButton").show();
	            			
    			    	},
    			    	error : function(xhr, status){
    			    		alert("error");
    			    	}
    			    });
    			    
    			});
    			
    			$("#publishButton").on('click', function(){
					$.ajax({
	   	            	 url: "/blog/post/publish/" + $("#postId").val(),
	   	            	 type: "PUT",
	   	            	 dataType : "json",
	   	            	 success: function(json) {
	   	            			$("#resultMessage").text("Your post published succesfully!");
	   	            			$("#publishLink").attr('disabled', true);
	   	            	 	},
	   	            	 error: function( xhr, status ) {
	   	            	        //alert( "there was a problem!" );
	   	            	    },
	   	            	 complete: function( xhr, status ) {
	   	            	        //alert( "The request is complete!" );
	   	            	    }
	   	             }); 
				});
    			
    			$("#editButton").on('click', function(){
    				window.location = "/blog/post/edit/" + $("#postId").val();
    			});
    			
    			$("#deleteButton").on('click', function(){
    				$.ajax({
    					url : "/blog/post/delete/" + $("#postId").val(),
    			    	type : "DELETE",
    			    	//dataType : "json",
    			    	contenType : "application/json",
    		            success : function(){
    			    		window.location = "/blog/post/list";
    			    	},
    			    	error : function(xhr, status){
    			    		alert("error");
    			    	}
    				});
    			});
    	});
</script>
</head>

<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>
<div  class="container" >
<div id="messageDiv">
   <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <span id="resultMessage"></span>
</div>
<div id="postDetails">
	<div class="btn-toolbar" role="toolbar" id="tools">
		<div class="btn-group" style="float: right">
			<button  class="btn btn-default" id="editButton">Edit</button>
			<button  class="btn btn-default" id="publishButton" >Publish</button>
			<button  class="btn btn-default" id="deleteButton">Delete</button>
			<input type="hidden" id="postId"/>
		</div>
	</div>
	<p id="title"></p>
	<div id="content"></div>
	
	<div class="list-group" id="listgroup">

</div>
</div>
</div>
</body>
</html>